.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .containerr {
    position: relative;
    text-align: center;
    color: white;
  }
  .centeredd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
  }
